#wallpaper {
    color: white;
    font-size: x-large;
    text-transform: uppercase;
    padding-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 50px;
    background-color: rgba(19, 50, 45, 0.85);
    min-height: 90vh;
    font-family: roboto, sans-serif;
}

.checkedItem{
text-decoration: line-through;
}

.title{
    color: #FFF4F4;
    margin: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.button {
    margin: 10px;
}

input{
    background-color: #F7E6C4;
    padding: 20px;
    font-family: roboto, sans-serif;
    font-size: 12pt;
    border: none;
    border-radius: 20px;
}

.to-dos{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.list-item {
    /*background-color: #F7E6C4;*/
    /*padding: 5px;*/
    font-family: roboto, sans-serif;
    font-size: 12pt;
    border: none;
    color: white;
    /*border-radius: 10px;*/
    margin: 5px;
}

.item{
    display: flex;
    flex-direction: column;
align-items: flex-start;
}
.checkbox {
margin-right: 50px;
}
body {
    background-image: url("images/succ.jpg");
    /*background-color: darkseagreen;*/
}
a{
    text-decoration: none;
    color: white;
}
#work{
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: underline;
    border-right: 2px solid white;
}

#today{
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: underline;
}



.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
