<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head.ejs") %>

<body>
<main>

    <div class="container">
        <%- include ("partials/header.ejs") %>
        <div class="navbar">
            <a href="/work">Work</a>
            <a href="/today">Today</a>
        </div>
        <div class="title">
            <h1>Today</h1>
        </div>
        <div class="toDoList">
            <form action="/today" method="POST">
                <input type="text" name="newItemToday" placeholder="New Item">
                <input type="submit" value="+">
            </form>
        </div>
        <% for (let i = 0; i < todaylist.length; i++){ %>
            <input class= "list" type="checkbox"> <%= todaylist[i] %><br/></input>
        <% } %>
        <%- include ("partials/footer.ejs") %>
    </div>

</main>
</body>

</html>